@page
@model LoginModel
<br />
<br />
<br />
@{
    ViewData["Title"] = "Accedi";
}

<h1>@ViewData["Title"]</h1>
<br />
<style>
    /* Imposta l'immagine come sfondo della pagina */
    body {
        background-image: url('/Images/targ-2-i-p.png');
        background-size: cover; /* Imposta la dimensione dell'immagine in modo che copra l'intera area */
        background-position: center; /* Imposta la posizione dell'immagine al centro */
        background-repeat: no-repeat; /* Assicura che l'immagine di sfondo non venga ripetuta */
    }
</style>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h2>Utilizza le tue credenziali per accedere al servizio</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        Ricordami
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Hai dimenticato la tua password?</a>
                    </p>
                    
                </div>
            </form>
        </section>
    </div>
    </div>
    

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
