@model targheX.Models.Item

@{
    ViewData["Title"] = "Create";
}

<h1>Crea nuova riga</h1>

<h4>Tipo targa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Nome</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Giacenza" class="control-label"></label>
                <input asp-for="Giacenza" class="form-control" />
                <span asp-validation-for="Giacenza" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GennaioCarico" class="control-label">Gennaio Carico</label>
                <input asp-for="GennaioCarico" class="form-control" />
                <span asp-validation-for="GennaioCarico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GennaioScarico" class="control-label">Gennaio Scarico</label>
                <input asp-for="GennaioScarico" class="form-control" />
                <span asp-validation-for="GennaioScarico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FebbraioCarico" class="control-label">Febbraio Carico</label>
                <input asp-for="FebbraioCarico" class="form-control" />
                <span asp-validation-for="FebbraioCarico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FebbraioScarico" class="control-label">Febbraio Scarico</label>
                <input asp-for="FebbraioScarico" class="form-control" />
                <span asp-validation-for="FebbraioScarico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MarzoCarico" class="control-label">Marzo Carico</label>
                <input asp-for="MarzoCarico" class="form-control" />
                <span asp-validation-for="MarzoCarico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MarzoScarico" class="control-label">Marzo Scarico</label>
                <input asp-for="MarzoScarico" class="form-control" />
                <span asp-validation-for="MarzoScarico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AprileCarico" class="control-label">Aprile Carico</label>
                <input asp-for="AprileCarico" class="form-control" />
                <span asp-validation-for="AprileCarico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AprileScarico" class="control-label">Aprile Scarico</label>
                <input asp-for="AprileScarico" class="form-control" />
                <span asp-validation-for="AprileScarico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaggioCarico" class="control-label">Maggio Carico</label>
                <input asp-for="MaggioCarico" class="form-control" />
                <span asp-validation-for="MaggioCarico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaggioScarico" class="control-label">Maggio Scarico</label>
                <input asp-for="MaggioScarico" class="form-control" />
                <span asp-validation-for="MaggioScarico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiugnoCarico" class="control-label">Giugno Carico</label>
                <input asp-for="GiugnoCarico" class="form-control" />
                <span asp-validation-for="GiugnoCarico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiugnoScarico" class="control-label">Giugno Scarico</label>
                <input asp-for="GiugnoScarico" class="form-control" />
                <span asp-validation-for="GiugnoScarico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LuglioCarico" class="control-label">Luglio Carico</label>
                <input asp-for="LuglioCarico" class="form-control" />
                <span asp-validation-for="LuglioCarico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LuglioScarico" class="control-label">Luglio Scarico</label>
                <input asp-for="LuglioScarico" class="form-control" />
                <span asp-validation-for="LuglioScarico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AgostoCarico" class="control-label">Agosto Carico</label>
                <input asp-for="AgostoCarico" class="form-control" />
                <span asp-validation-for="AgostoCarico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AgostoScarico" class="control-label">Agosto Scarico</label>
                <input asp-for="AgostoScarico" class="form-control" />
                <span asp-validation-for="AgostoScarico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SettembreCarico" class="control-label">Settembre Carico</label>
                <input asp-for="SettembreCarico" class="form-control" />
                <span asp-validation-for="SettembreCarico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SettembreScarico" class="control-label">Settembre Scarico</label>
                <input asp-for="SettembreScarico" class="form-control" />
                <span asp-validation-for="SettembreScarico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OttobreCarico" class="control-label">Ottobre Carico</label>
                <input asp-for="OttobreCarico" class="form-control" />
                <span asp-validation-for="OttobreCarico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OttobreScarico" class="control-label">Ottobre Scarico</label>
                <input asp-for="OttobreScarico" class="form-control" />
                <span asp-validation-for="OttobreScarico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NovembreCarico" class="control-label">Novembre Carico</label>
                <input asp-for="NovembreCarico" class="form-control" />
                <span asp-validation-for="NovembreCarico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NovembreScarico" class="control-label">Novembre Scarico</label>
                <input asp-for="NovembreScarico" class="form-control" />
                <span asp-validation-for="NovembreScarico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DicembreCarico" class="control-label">Dicembre Carico</label>
                <input asp-for="DicembreCarico" class="form-control" />
                <span asp-validation-for="DicembreCarico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DicembreScarico" class="control-label">Dicembre Scarico</label>
                <input asp-for="DicembreScarico" class="form-control" />
                <span asp-validation-for="DicembreScarico" class="text-danger"></span>
            </div>
            <br />
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Torna alla lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
