@model targheX.Models.Item

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Giacenza" class="control-label"></label>
                <input asp-for="Giacenza" class="form-control" />
                <span asp-validation-for="Giacenza" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GennaioCarico" class="control-label"></label>
                <input asp-for="GennaioCarico" class="form-control" />
                <span asp-validation-for="GennaioCarico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GennaioScarico" class="control-label"></label>
                <input asp-for="GennaioScarico" class="form-control" />
                <span asp-validation-for="GennaioScarico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FebbraioCarico" class="control-label"></label>
                <input asp-for="FebbraioCarico" class="form-control" />
                <span asp-validation-for="FebbraioCarico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FebbraioScarico" class="control-label"></label>
                <input asp-for="FebbraioScarico" class="form-control" />
                <span asp-validation-for="FebbraioScarico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MarzoCarico" class="control-label"></label>
                <input asp-for="MarzoCarico" class="form-control" />
                <span asp-validation-for="MarzoCarico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MarzoScarico" class="control-label"></label>
                <input asp-for="MarzoScarico" class="form-control" />
                <span asp-validation-for="MarzoScarico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AprileCarico" class="control-label"></label>
                <input asp-for="AprileCarico" class="form-control" />
                <span asp-validation-for="AprileCarico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AprileScarico" class="control-label"></label>
                <input asp-for="AprileScarico" class="form-control" />
                <span asp-validation-for="AprileScarico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaggioCarico" class="control-label"></label>
                <input asp-for="MaggioCarico" class="form-control" />
                <span asp-validation-for="MaggioCarico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaggioScarico" class="control-label"></label>
                <input asp-for="MaggioScarico" class="form-control" />
                <span asp-validation-for="MaggioScarico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiugnoCarico" class="control-label"></label>
                <input asp-for="GiugnoCarico" class="form-control" />
                <span asp-validation-for="GiugnoCarico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiugnoScarico" class="control-label"></label>
                <input asp-for="GiugnoScarico" class="form-control" />
                <span asp-validation-for="GiugnoScarico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LuglioCarico" class="control-label"></label>
                <input asp-for="LuglioCarico" class="form-control" />
                <span asp-validation-for="LuglioCarico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LuglioScarico" class="control-label"></label>
                <input asp-for="LuglioScarico" class="form-control" />
                <span asp-validation-for="LuglioScarico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AgostoCarico" class="control-label"></label>
                <input asp-for="AgostoCarico" class="form-control" />
                <span asp-validation-for="AgostoCarico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AgostoScarico" class="control-label"></label>
                <input asp-for="AgostoScarico" class="form-control" />
                <span asp-validation-for="AgostoScarico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SettembreCarico" class="control-label"></label>
                <input asp-for="SettembreCarico" class="form-control" />
                <span asp-validation-for="SettembreCarico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SettembreScarico" class="control-label"></label>
                <input asp-for="SettembreScarico" class="form-control" />
                <span asp-validation-for="SettembreScarico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OttobreCarico" class="control-label"></label>
                <input asp-for="OttobreCarico" class="form-control" />
                <span asp-validation-for="OttobreCarico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OttobreScarico" class="control-label"></label>
                <input asp-for="OttobreScarico" class="form-control" />
                <span asp-validation-for="OttobreScarico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NovembreCarico" class="control-label"></label>
                <input asp-for="NovembreCarico" class="form-control" />
                <span asp-validation-for="NovembreCarico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NovembreScarico" class="control-label"></label>
                <input asp-for="NovembreScarico" class="form-control" />
                <span asp-validation-for="NovembreScarico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DicembreCarico" class="control-label"></label>
                <input asp-for="DicembreCarico" class="form-control" />
                <span asp-validation-for="DicembreCarico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DicembreScarico" class="control-label"></label>
                <input asp-for="DicembreScarico" class="form-control" />
                <span asp-validation-for="DicembreScarico" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
