@{
    ViewData["Title"] = "Benvenuto";
}

<div class="text-center">
    <h1 class="display-4">Benvenuto!</h1>
    <p>CGT - Conto Giudiziale Targhe</p>
    <img src="https://us.123rf.com/450wm/eyematrix/eyematrix1610/eyematrix161000002/63889897-blank-italian-vehicle-licence-number-plates-in-different-styles-vector.jpg" alt="Immagine della targa italiana" style="max-width: 80%; height: auto;">
</div>
