@{
    ViewData["Title"] = "Success";
}

<style>
    /* Imposta l'immagine come sfondo della pagina */
    body {
        background-image: url('/Images/targ-2-i-p.png');
        background-size: cover; /* Imposta la dimensione dell'immagine in modo che copra l'intera area */
        background-position: center; /* Imposta la posizione dell'immagine al centro */
        background-repeat: no-repeat; /* Assicura che l'immagine di sfondo non venga ripetuta */
    }
</style>
<br />
<br />
<br />
<h1>CGT - Conto Giudiziale Targhe</h1>
<br />
<h3>Utente autorizzato all'accesso.</h3>
    


